<section class="create-recipe-section-1">

<h1>Create a Recipe</h1>
<form class="create-recipe-form" method="post" action="/recipes/create">

  <label>Title:</label>
  <input name="title"/>
  <label class="create-recipe-form-label">Total Time:</label>
  <input name="readyInMinutes"/>
  <label class="create-recipe-form-label">List of Ingredients:</label>
  <textarea name="extendedIngredients" cols="35" rows="5"></textarea>
  <label class="create-recipe-form-label">Instructions:</label>
  <textarea name="analyzedInstructions" cols="35" rows="5"></textarea>
  <label class="create-recipe-form-label">Notes:</label>
  <textarea name="notes" cols="35" rows="5"></textarea>

  <button class="create-recipe-form-button" type="submit">Create Recipe!</button>
  
</form>
<p>{{message}}</p>

</section>