<h1>Create a Recipe</h1>

<form method="post" action="/recipes/create">

  <label>Title:</label>
  <input name="title"/>
  <label>Total Time:</label>
  <input name="readyInMinutes"/>
  <label>List of Ingredients:</label>
  <input name="ingredients"/>
  <label>Instructions:</label>
  <input name="analyzedInstructions"/>
  <label>Notes:</label>
  <input name="notes"/>

  <button type="submit">Create Recipe!</button>
  
</form>

<p>{{message}}</p>