<section class="index-section-1">
    <h1 class="index-section-1-h1">What's for <br>Dinner?</h1>
    <p class="index-section-1-p">{{message}}</p>
</section>
<section class="index-section-2">
    <div class="index-section-2-parent-div">
        <h2 class="index-section-2-h2">Hello!</h2>
        <p class="index-section-2-p">Welcome to Your Cookbook! On this site, you 
        can search for or customize your own Recipe. To search for a recipe, 
        please click the Search Recipe link at the top and navigate our 365,000 possible recipes. 
        If you want to try out a recipe, click the "Add this to my Recipes!" link at the bottom to add it to your profile.
        Or if you want to experiment, you can also create your own recipe using the "Create Recipe" link at the top.
        To navigate our site, please create an account using the "Sign Up" link. Happy Recipe Hunting!
        </p>
        
    </div>
</section>
<footer>
    <ul>
        <li>Terms of Service</li>
        <li>Privacy Policy</li>
        <li>Contact Us</li>
    </ul>
</footer>
{{!-- <footer>
    <div><p>Terms of Service</p></div>
    <div><p>Privacy Policy</p></div>
    <div><p>Contact Us</p></div>
</footer> --}}
