<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>

    <header>
        <div><img class="logo" src="https://simg.nicepng.com/png/small/349-3491336_chef-cook-vector-png-image-cook-png.png" alt="Logo"/></div>
        <ul class="nav-left">
          <a href="/search-recipes">Search Recipes</a>
          <a href="/recipes/my-recipes">My Recipes</a>
          <a href="/recipes/create">Create Recipes</a>
        </ul>
        <ul class="nav-right">
          <a href="/users/login">Log In</a>
          <a href="/users/update">Account</a>
          <a href="/users/signup">Sign Up</a>
          <a href="/users/logout">Log Out</a>
        </ul> 

        {{!-- BACKGROUND IMAGE --}}
    </header>    
 

    {{{body}}}
  </body>
</html>
