<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <nav>
        <div>
          {{!-- <img src="" alt=""/> --}}
          <a href="/search-recipes">Search Recipes</a>
          <a href="/recipes/my-recipes">My Recipes</a>
          <a href="/recipes/create">Create Recipes</a>
        </div>
        <div>
          <a href="/users/login">Log In</a>
          <a href="/users/update">Update Account</a>
          <a href="/users/signup">Sign Up</a>
          <a href="/users/logout">Log Out</a>
        </div>  
      </nav>
    </header>    
 

    {{{body}}}
  </body>
</html>
