<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>

    <header>
        <div><a href="/">Your <br> Cookbook</a></div>
        <ul class="nav-left">
          <a href="/search-recipes">Search Recipes</a>
          <a href="/recipes/my-recipes">My Recipes</a>
          <a href="/recipes/create">Create Recipes</a>
        </ul>
        <ul class="nav-right">
          <a href="/users/update">Account</a>
          <a href="/users/login">Log In</a>
          <a href="/users/signup">Sign Up</a>
          <a href="/users/logout">Log Out</a>
        </ul> 
    </header>    
 

    {{{body}}}
  </body>
</html>

