<section class="login-section-1">

    <h1>Log In</h1>
    <form class="login-form" method="post" action="/users/login">

        <label>Email:</label>
        <input name="email"/>
        <label class="login-form-label">Password:</label>
        <input name="password" type="password"/>

        <button class="login-form-button" type="submit">Log In</button>

    </form>
    <p>{{message}}</p>

</section>