<h1>RECIPE</h1>

<form method="post" action="/search-recipes">

    <label>Recipe:</label>
    <input name="query" placeholder="Field Required"/>
    <label>Cuisine:</label>
    <input name="cuisine" placeholder="E.g. Italian, Chinese"/>
    <label>Diet:</label>
    <input name="diet" placeholder="E.g. Vegan"/>
    <label>Number of Recipes:</label>
    <input name="number" placeholder="Between 1 and 100"/>

    <button type="submit">Get Recipes!</button>

</form>